@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Abel);
/* Base
------------------------------------------------------------*/
html {
  font-size: 62.5%; }

body {
  color: #4c4c4c;
  font-size: 1.4rem;
  font-family: "游ゴシック", YuGothic, "メイリオ", Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.1em;
  background-color: #FFF9FF; }

a {
  color: #B679F5;
  text-decoration: none; }
  a:visited {
    color: #9c4af1; }
  a:hover {
    color: #9c4af1; }
  a:active {
    color: #c391f7; }

/* Align
------------------------------------------------------------*/
.text-center {
  text-align: center; }

/* Layout
------------------------------------------------------------*/
.block-center, section .container, #works i {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* Font
------------------------------------------------------------*/
.abel, section h2, #works h3 {
  font-family: 'Abel', sans-serif; }

.uppercase, section h2, #works h3 {
  text-transform: uppercase; }

@media (min-width: 768px) {
  /* Base
  ------------------------------------------------------------*/
  a:hover {
    text-decoration: underline; } }
/* Header
------------------------------------------------------------*/

header .header-image {
  font-size: 1.8rem;
  line-height: normal;
  background-image: url(../images/Cosmos.jpg);
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}
  header .header-image span {
    display: block;
    font-size: 4.2rem;
    color: #B679F5; }

.header-images {
  max-height: 500px; }

@media (min-width: 768px) {
  header .header-image {
  height: 500px;
  }
  a:hover {
    text-decoration: underline; }
    
   }
    
/* Contents
------------------------------------------------------------*/
section {
  padding: 60px 0; }
  section .container {
    width: 90%; }
  section h2 {
    font-size: 3.2rem; }

#works {
  background-color: #FFF9FF; }
  #works .container {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -webkit-flex-direction: column;
    flex-direction: column; }
  #works h2 {
    color: #B679F5;
    margin-bottom: 60px; }
  #works .work-box {
    -webkit-flex: 1;
    flex: 1;
    margin: 10px 0;
    padding: 20px;
    background-color: #E4A7F5;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  #works i {
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
    padding-top: 15px;
    background-color: #FFF9FF;
    font-size: 4.5rem;
    color: #E4A7F5;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  #works h3 {
    color: #FFF9FF;
    margin-bottom: 10px;
    font-size: 2.4rem;
    font-weight: bold; }

@media (min-width: 768px) {
  a:hover {
    text-decoration: underline; }

  #works .container {
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-between; }
  #works .work-box {
    margin: 0 10px; } }
/* Footer
------------------------------------------------------------*/
footer {
  background-color: #E4A7F5;
  padding: 10px 0;
  text-align: center;
  color: #FFF; }

.button-readmore {
  margin: auto;
  text-align: center;
  padding: 5px 0;
  width: 180px;
  display: block;
  color: #FFF;
  font-weight: bold;
  background-color: #B679F5;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 1rem; }
  .button-readmore:hover {
    background-color: #9c4af1; }

@media (min-width: 768px) {
  a:hover {
    text-decoration: underline; } }

/*# sourceMappingURL=style.css.map */
